/* Fabadaconf 2018 by @diana_aceves_ */
body{
	font-family: $font-text;
    line-height: 1.6;
    color: white;
    background-color: lighten($lighten-gray, 5%);
}
.wrapper--main{
	max-width: rem(1440);
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
.grid--main {
	display: grid;
	grid-template-columns: 3fr repeat(6, minmax(6rem,1fr));
	grid-template-rows: repeat(3, 6rem);
}

/* HEADER */
.header--main {
	display: contents;
	/* .header--main__image */
	&__image {
		grid-row: span 3;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	/* .header--main__name */
	&__name {
		grid-column: 2/-1;
		font-family: $font-headings;
		font-size: 2em;
		background-color: $medium-gray;
	}
	/* .header--main__job */
	&__job {
		grid-column: 2/-2;
		background-color: $dark-gray;
		font-size: 1.3em;
	}
	&__name,
	&__job{
		@include flex-c-0;	/* Mixin flex vertical center, ver en utils.scss */
		padding-left: 2rem;
	}
	/* .header--main__behance */
	&__behance {
		@include flex-c-c; /* Mixin flex center center, ver en utils.scss */
		background-color: $darken-gray;
		svg{
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}

.nav--header {
	font-size: .8em;
	text-transform: uppercase;
	display: contents;
	text-align: center;
	/* .nav--header__item */
	&__item {
		@include flex-c-c;
		font-weight: bold;
		&:nth-child(1){
			background-color: $green;
		}
		&:nth-child(2){
			background-color: $blue;
		}
		&:nth-child(3){
			background-color: $cyan;
		}
		&:nth-child(4){
			background-color: $orange;
		}
		&:nth-child(5){
			background-color: $red;
		}
		&:nth-child(6){
			background-color: $yellow;
		}
	}
	&__link{
		padding: 1rem;
	}
	svg{
		opacity: .65;
		height: 1.5rem;
		width: 1.5rem;
	}
}

/* MAIN CONTENT */
main{
	display: contents;
}

.section {
	/* .section--intro */
	&--intro {
		display: contents;
		color: $text-color;
	}
	/* .section--works-summary */
	&--works-summary {
		text-align: center;
		@include flex-c-0;
		justify-content: space-around;
		grid-column: 1/-1;
		background-color: $blue;
		padding: 3.5rem 0;
	}
}

.article {
	padding: 2em;
	/* .article--whoiam */
	&--whoiam {
		grid-column: span 4;
		align-self: center;
	}
	/* .article--personal-info */
	&--personal-info {
		grid-column: span 3;
		background-color: $lighten-gray;
	}
	/* .article__title */
	&__title {
		font-family: $font-headings;
		font-size: 2em;
		font-weight: bold;
		line-height: 1;
		margin-bottom: 1rem;
	}
	/* .article__text */
	&__text{
		font-size: .85em;
	}
}

.personal-data-list{
	font-size: .85em;
	display: grid;
	grid-template-columns: rem(110) 1fr;
	dd{
		margin-bottom: 1em;
	}
	dt{
		font-size: 0.9em;
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 0.1em; /*corrijo diferencia de line-height*/
	}
}

.work {
	/* .work__icon */
	&__icon {
		height: 1.5em;
		width: 1.5em;
	}
	/* .work__number */
	&__number {
		font-size: 2em;
	}
	/* .work__name */
	&__name {
		font-size: .7em;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-weight: bold;
	}
}

/* FOOTER */
.footer--main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.5rem;
	background-color: $medium-gray;
}

.nav--footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	grid-auto-flow: dense;
	font-size: .85em;
	font-weight: bold;
	/* .nav--footer__item */
	&__item:nth-child(2),
	&__item:nth-child(3) {
		grid-column: 1;
	}
}

.social {
	/* .social__heading */
	&__heading {
		text-transform: uppercase;
		font-weight: bold;
		font-size: .8em;
		margin-bottom: 1em;
	}
	/* .social__menu */
	&__menu {
		@include flex-c-0;
	}
	/* .social__item */
	&__item {
		@include flex-c-c;
		background-color: $light-gray;
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		&:not(:last-child){
			margin-right: .5em;
		}
	}
	/* .social__icon */
	&__icon {
		height: 1rem;
		width: 1rem;
		display: block;
	}
}
